
/*///////////////// S T A R T   S E C T I O N  ///////////////////*/

.main-item--start h3 {
    padding-top: 80%;
}

/*///////////////// V I S I O N   S E C T I O N  ///////////////////*/

.abut-content--vision p {
    font-size: 1.3rem;
}


/*///////////////// A B O U T   P A G E  ///////////////////*/
.description {
    font-size: 1.8rem;
    line-height: 2rem;

}

/*///////////////// T E C H   S E C T I O N  ///////////////////*/
.tech-description {
    margin-top:15%;
    font-size: 1.3rem;
}


.main-tech--imagesImg {
    display: none;
}


 .main-tech--imagesSpan {
    display: grid;
    width: 100%;
    height: 70%;
    gap: 1rem;
}

 .tech-image-1 {

    background-image: url(../img/about/down-container/reflectores_day.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tech-image-2 {

    background-image: url(../img/about/down-container/reflectores.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tech-image-3 {

    background-image: url(../img/about/down-container/reflector_sunset.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tech-image-4 {

    background-image: url(../img/about/down-container/sunrise_Finca.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*///////////////// F O O T E R   S E C T I O N  ///////////////////*/

.footer-container {
    place-items: center;
}

.footer-section h2 {
    padding-left:1rem;
    font-size: 1.3rem;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section p a {
    font-size: 1rem;
}
